#game {
  width: 560px;
  height: 400px;
  margin: 0 auto;
  margin-top: 30px;
  border: 10px solid blue;
}

#gameBoard {
  position: relative;
  height: 400px;
  width: 400px;
  background: turquoise;
  float: left;
  border-right: 10px solid blue;
}

#gameInfo {
  position: relative;
  height: 400px;
  width: 150px;
  background: pink;
  float: left;
  font-family: Helvetica;
  text-align: center;
}

.ball {
  position: absolute;
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 50%;
  z-index: 1;
}

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.end {
  position: absolute;
  height: 40px;
  width: 40px;
  background: yellow;
  border-radius: 50%;
}

.button {
  height: 30px;
}

.launchPad {
  height: 40px;
  width: 40px;
  background: orange;
}

.nextGameButton {
  position: absolute;
  height: 30px; 
  z-index: 4;
}

.center {
  margin: -20px -50px; 
  width: 100px; 
  top: 50%; 
  left: 50%;
}

/* arrows */

.arrow {
  position: absolute;
  width: 0; 
  height: 0;
  z-index: 2;
  margin-left: 17px;
  margin-top: 10px;
}

.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

.arrow-right {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid white;
}

.arrow-left {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid white; 
}

/* triangles */

.triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  z-index: 3;
}

.topLeft {
  border-width: 40px 40px 0 0;
  border-color: red transparent transparent transparent;
}

.topRight {
  border-width: 0 40px 40px 0;
  border-color: transparent red transparent transparent;
}

.bottomRight {
  border-width: 0 0 40px 40px;
  border-color: transparent transparent red transparent;
}

.bottomLeft {
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent red;
}